<h2>Login</h2>
{{#if messages.error}}
  {{messages.error}}
{{/if}}
<form action="/login" method="POST">

<div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required> 
</div>
<br>
<div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required> 
</div>
<br>
<div>
    <button type="submit">Login</button>
</div>

</form>
<br>
<a href="/register">Register</a>